<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lead Detail Page</title>
</head>
<body>
  <a href="{% url 'leads:lead-list' %}">All Leads</a>
  <hr />
  <h1>{{ lead.first_name }} Lead Detail Page</h1>
  <p>This persons age: {{ lead.age }}</p>
  <p>The agent responsible for this lead is {{ lead.agent }}</p>
  <hr />
  <a href="{% url 'leads:lead-update' lead.pk %}">Update</a>
  <a href="{% url 'leads:lead-delete' lead.pk %}">Delete</a>
</body>
</html>